<table>
    <thead>
        <th>Type</th>
        <th>Best Quality</th>
        <th>Name</th>
        <th>SellIn</th>
        <th>Quality</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td>{{item._shapeType}}</td>
            <td><span *ngIf = item.bestQuality>*</span></td>
            <td>{{item._name}}</td>
            <td>{{item._sellIn}}</td>
            <td>{{item._quality}}</td>
        </tr>
    </tbody>
</table>

<button (click)="passADay()">See Next Day </button>

<label>Number of days</label>
<input type="text" value={{days}} readonly />
